 .*.psd filter=lfs diff=lfs merge=lfs -text
data/model/saved_bert_ekphrasis/** filter=lfs diff=lfs merge=lfs -text
models/saved_bert/* filter=lfs diff=lfs merge=lfs -text
output/saved_bert/model/model.safetensors filter=lfs diff=lfs merge=lfs -text
