[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
opendatasets = "*"
kaggle = "*"
datasets = "*"
seaborn = "*"
matplotlib = "*"
scikit-learn = "*"
wordcloud = "*"
jupyter = "*"
ipykernel = "*"
pandas = "*"
ekphrasis = "*"
clean-text = "*"
emoji = "*"
torch = "*"
transformers = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
