[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
opendatasets = "*"
kaggle = "*"
datasets = "*"
seaborn = "*"
matplotlib = "*"
wordcloud = "*"
jupyter = "*"
ipykernel = "*"
pandas = "*"
ekphrasis = "*"
emoji = "*"
unidecode = "*"
torch = "*"
transformers = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
bs4 = "*"
lxml = "*"
nltk = "*"
clean-text = ">=0.6.0"
streamlit = "*"
scipy = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
